@import "~base/variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.form-nav .nav-tabs .nav-link {
    color: $grey8;
}

.form-nav .nav-tabs .nav-link.active,
.form-nav .nav-tabs .nav-link.active:focus,
.form-nav .nav-tabs .nav-link.active:hover {
    background-color: $white;
    color: $grey8;
}

.nav-tabs .nav-link.active {
    background-color: transparent !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.payment-options {
    flex-direction: column;
}

.payment-options .nav-item {
    text-align: left;
}

.payment-options .nav-item .powerboard-tab {
    display: flex;
    justify-content: space-between;
}

.payment-options .nav-item .nav-link {
    border: 1px solid $black;
    margin: .625rem 0;
    color: $black !important;
}

.payment-options .nav-item .nav-link label {
    margin-bottom: 0;
    font-size: 1.438rem;
    cursor: inherit;
}

.payment-options .nav-item .nav-link .payment-radio {
    margin-right: .938rem;
}

.payment-options .tab-pane {
    border: 1px solid $black;
    padding: 0.5rem 1rem;
}

.payment-options .tab-pane.active {
    border-top: none;
}

.credit-card-option,
.powerboard-checkout-button-zipmoney-option,
.powerboard-wallet-buttons-apple-pay-option,
.powerboard-wallet-buttons-google-pay-option,
.powerboard-wallet-buttons-paypal-option,
.powerboard-option-logo {
    padding-right: 20px;
    vertical-align: sub;
}

.powerboard-wallet-buttons-paypal-option,
.powerboard-wallet-buttons-afterpay-option {
    vertical-align: baseline;
}

.powerboard-checkout-button-afterpay-option {
    padding-right: 11px;
    vertical-align: middle;
}

.powerboard-wallet-buttons-afterpay-option {
    padding-right: 15px;
}

@include media-breakpoint-up(lg) {
    .form-nav .nav-item > .nav-link {
        color: $grey8;
    }
}
